
.login {
    width: 20%;
    height: 20%;
    background: #F0F6FB;
    border-radius: 12px;
    margin-top: 15%;
    margin-left: 40%;
}

.signUp {
    font-family: 'Cerebri Sans Pro';
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #091B2C;
}

.bodyText {
    text-align: center;
    /* font-family: 'Kumbh Sans'; */
    font-weight: 100;
    font-style: normal;
    font-size: 16px;
    color: #232D36;
}

.input {
    background: #FFFFFF;
    border: 1.4px solid #A5AEB6;
    border-radius: 4px;
}

.btn {
    width: 140px;
    height: 48px;
    background-color: #0F77D2;
    border: 1px solid #0F77D2;
    border-radius: 4px;
    color: white;
    margin-left: 20%;
    margin-bottom: 5%;
}

