.hi {
 color: red
}

.images {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: white; /* Black */
    padding-top: 20px;
  }

  .button {
    margin-top: 20px;

  }


    .backdrop {
      background: linear-gradient(180deg, #040F26 0%, #040D21 48.96%, #040D21 76.56%, #0D77F3 100%)
    } 
      
